<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/js/vex.combined.min.js"></script>
<script>vex.defaultOptions.className = 'vex-theme-os'</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex-theme-os.min.css"/>

<form id="manualStripe" action="https://pmvruqtzuf.execute-api.us-east-1.amazonaws.com/prod/" method="POST">
 	<input type="hidden" id="stripeToken" name="stripeToken"/>
 	<input type="hidden" id="amount" name="amount"/>
</form>
<script src="{{ "/js/fjm.stripe.js" | absolute_url }}" type="text/javascript"></script>