<a name="donate"></a>
<div class="container">
	<div class="">
		<div class="">
			<div class="">
				<div class="">
					<div class="">
						<div class="fjm-card">
							<div class="card-header">
								<img src="{{ "img/donation-with-check.jpg" | absolute_url }}" alt="Give by check">
							</div>
							<div class="card-body">
								<h3><a href="">Donate by Check</a></h3>
								<p>
									FJ Ministries<br>
									c/o Priority Bank<br>
									3401 E. Mission Blvd.<br>
									Fayetteville, Arkansas 72703<br>

									<i>Make checks payable to FJ Ministries</i>
								</p>
							</div>
						</div>
					</div>
					<div class="pure-u-1 pure-u-md-1-3">
						<div class="fjm-card">
							<div class="card-header">
								<img id="btnDonate" src="{{ "img/donation-with-stripe.jpg" | absolute_url }}" alt="Give by credit card" style="width: 69%;">
							</div>
							<div class="card-body">
								<h3>Donate with credit card</h3>
								{% include donate-stripe.html %}
							</div>
						</div>
					</div>
					<div class="pure-u-1 pure-u-md-1-3">
						<div class="fjm-card">
							<div class="card-header">
								{% include donate-paypal.html %}
							</div>
							<div class="card-body">
								<h3>Donate with PayPal</h3>								
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>